@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

$gap: 10px;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$column-border-radius: 5px;

// thừa 1vh cho thanh scrool bar bottom

$list-bg-color: #ebecf0;
$board-bg-color: #0079df;
$app-main-color: #333;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip5-down: "(max-width: 375px)";
