@import "~bootstrap/scss/bootstrap";
@import "./setting";

body {
  margin: 0;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.3rem;
  .trello-container {
    height: 100vh;
    overflow: hidden;
    background-color: $board-bg-color;
    color: $app-main-color;
    .icon {
      font-size: 14px;
      margin: 0 5px;
    }
  }
  .trello-container-candyDev {
    margin: 0 15px;
    padding: 0;
  }
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
  }
  .btn:focus,
  .btn:active {
    outline: none;
    box-shadow: none;
  }
}
